.player{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Press Start 2P', cursive;
}

.time-control{
    width: 50%;
    display: flex;
    // background-color: aqua;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.3rem;

    input{
        width: 100%;
        padding: 0px;
        -webkit-appearance: none;
        background: rgb(140, 138, 173);
        border-radius: 2rem;
        cursor: pointer;
    }
   
}
.play-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    width: 40%;
    
    svg{
        cursor: pointer;
    }
}
// font-family: 'Press Start 2P', cursive;

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
}

.track{
    width:100%;
}

@media screen and (max-width: 768px) {
    .time-control{
        width: 90%;
    }
    .play-control{
        width: 50%;
    }
}